/* 顶部导航栏 */
.nav {
    width: 100%;
    background-color: #ECECEC;
}
.topbar {
    width: 1190px;
    height: 30px;
    margin: 0 auto;
    font-size: 12px;
    color: #666666;
    display: flex;
    justify-content: space-between;
}
/* 左栏 */
.topbar .left {
    display: flex;
    align-items: center;
    font-size: 0;
}
.topbar .left span {
    line-height: 30px;
    font-size: 12px;
}
.topbar .left span:last-of-type {
    margin-left: 28px;
}
.left .login {
    padding-right: 10px;
}
.left .register {
    border-left: 1px #666 solid;
    padding-left: 10px;
}
/* 右栏 */
.topbar .right {
    display: flex;
}
.topbar .right ul {
    display: flex;
    align-items: center;
    text-align: center;
}
.topbar .right ul li {
    height: 16px;
}
.topbar .right ul li a {
    padding: 0 15px;
    border-right: 1px #666666 solid;
}
.topbar .right ul li:first-child a {
    padding-left: 0;
}
.topbar .right ul li:last-child a {
    padding-right: 0;
    border: 0;
}
.topbar a {
    text-decoration: none;
    color: #666666;
    font-size: 12px;
}
.topbar a:hover {
    color: red;
}
/* 头部 */
.head {
    width: 1190px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head img {
    width: 190px;
    height: 120px;
}
.search {
    border: 1px solid red;
    display: flex;
}
.search input {
    width: 510px;
    height: 36px;
}
.search button {
    width: 80px;
    height: 36px;
    background-color: red;
}
.search .search_icon {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background-color: red;
}
/* 主导航 */
.main_nav{
    width: 100%;
    border-bottom: 1px solid red;
}
.main_topbar {
    width: 1190px;
    margin: 0 auto;
}
.main_topbar ul {
    display: flex;
    align-items: center;
    text-align: center;
}
.main_topbar ul li a {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    padding: 0 10px;
}
.main_topbar ul li a:hover {
    color: #dd302d;
}
.main_topbar ul li:first-child {
    font-size: 16px;
    font-weight: 500;
    background-color: #dd302d;
    color: #fff;
    width: 170px;
    height: 48px;
    line-height: 48px;
}
/* 主内容 */
.content {
    width: 1190px;
    height: 458px;
    margin: 0 auto;
    margin-top: 9.4px;
    display: flex;
    justify-content: space-between;
}
/* 左侧边栏 */
.nav_left {
    background-color: #f4f4f4;
    width: 190px;
    height: 458px;
    display: flex;
    align-items: center;
    position: relative;
}
.nav_left ul {
    width: 100%;
    height: 458px;
}
.content .nav_left li {
    line-height: 19.6px;
    font-size: 14px;
    height: 20px;
    padding: 4px 0;        
    padding-left: 16px;
    color: #333;
}
.nav_left ul .first {
    line-height: 24.5px;
    height: 24.5px;
}
.nav_left ul .last {
    line-height: 24.5px;
    height: 24.5px;
}
.nav_left ul li:hover {
    background-color: #dd302d;
}
.nav_left ul li:hover>a {
    color: #f4f4f4;
}
.nav_left ul li:hover .second_menu {
    display: block;
}
/* 二级菜单 */
.second_menu {
    background-color: #F4F4F4;
    width: 690px;
    height: 458px;
    padding-top: 18px;
    position: absolute;
    top: 0;
    left: 200px;
    display: none;
}
.second_menu dl {
    height: 36px;
    display: flex;
    font-size: 14px;
    line-height: 20px;
}
.second_menu dt {
    width: 70px;
    padding: 0 20px;
}
dt a {
    color: #000;
}
.second_menu dd {
    height: 20px;
    color: #666;
    border-left: 1px solid black;
}
.second_menu dd a {
    padding: 0 10px;
}
/* 中间栏 */
.nav_mid {
    width: 690px;
    height: 458px;
}
/* 右侧边栏 */
.nav_right {
    width: 290px;
    height: 458px;
}
/* 顶部快报 */
.nav_right .top {
    width: 288.4px;
    height: 156.4px;
    border: 1px solid #d9d9d9;
}
.nav_right .top dl {
    width: 262px;
    margin: 0 auto;
}
.nav_right .top dt {
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
}
.nav_right .top dt>span {
    font-size: 14px;
    color: #000;
}
.nav_right .top dt>a,
.nav_right .top dd
 {
    color: #999;
}
.nav_right .top dt>a:hover {
    color: #dd302d;
}
.nav_right .top dd {
    margin: 6px 0;
    height: 18px;
    line-height: 18px;
}
.nav_right .top .first {
    margin-top: 8px;
}
/* 底部图片导航栏 */
.nav_right .bottom ul {
    width: 290px;
    height: 86px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_right .bottom ul:first-child {
    margin-top: 26px;
}
.nav_right .bottom li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_right .bottom li:hover {
    cursor: pointer;
}
.nav_right .bottom li>img {
    width: 48px;
    height: 48px;
}
/* 秒杀 */
.miaosha {
    width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.miaosha>img:hover {
    cursor: pointer;
}
/* 电器导航栏 */
.nav_electric {
    width: 1190px;
    height: 30px;
    border-bottom: 3px solid #dd302d;
    margin: 0 auto;
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}
.nav_electric>span {
    font-size: 20px;
    color: #000;
    line-height: 30px;
}
.nav_electric ul {
    height: 30px;
    display: flex;
    font-size: 16px;
    color: #666;
    line-height: 24px;
}
.nav_electric ul li:last-child>a {
    padding-right: 0;
    border: 0;
}
.nav_electric ul a {
    border-right:1px solid #666 ;
    padding: 0 10px;
}
/* 电器内容 */
.electric_content {
    width: 1190px;
    height: 432px;
    margin: 0 auto;
    display: flex;
}
/* 第一版面 */
.electric_content .first {
    width: 230px;
    height: 432px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.electric_content .first ul {
    width: 190px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}
.electric_content .first li {
    width: 90px;
    height: 22px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    list-style: 22px;
}
.electric_content .first a {
    font-size: 16px;
    color: #666;
}
.electric_content .third {
    border-right: 1px solid #e2e2e2;
}
.electric_content .third>img {
    border-bottom: 1px solid #e2e2e2;
}
.electric_content .fourth {
    border-bottom: 1px solid #e2e2e2;
}
.electric_content .fifth {
    border-left: 1px solid #e2e2e2;
}
.electric_content .fifth>img {
    border-bottom: 1px solid #e2e2e2;
}
/* 底部导航栏 */
.nav_bottom {
    width: 100%;
    height: 440px;
    background-color: #483e3e;
    margin-top: 49px;
}
.nav_bottom .top {
    width: 1190px;
    height: 246px;
    margin: 0 auto;
    border-bottom: 1px solid #584d4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bottom .top ul {
    width: 190px;
    font-size: 14px;
    line-height: 26px;
}
.nav_bottom .top a {
    color: #fff;
}
.nav_bottom .bottom {
    width: 1190px;
    height: 146px;
    margin: 0 auto;
    text-align: center;
}
.nav_bottom .bottom ul {
    height: 18px;
    margin-top: 47px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.nav_bottom .bottom a {
    color: #fff;
    padding: 0 26px;
    border-right: 1px solid #fff;
}
.nav_bottom .bottom li:last-child a {
    border: 0;
}
.nav_bottom .bottom>span {
    font-size: 12px;
    color: #fff;
    line-height: 18px;
}